[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
duckdb = "==0.7.1"
pandas = "==2.0.0"
polars = "==0.16.18"
pyarrow = "==11.0.0"
pyspark = "==3.3.2"
seaborn = "==0.12.2"
tqdm = "*"
psutil = "*"

[dev-packages]
jupyter-black = "*"
jupyterlab = "*"
jupyter-tabnine = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
